h1 {
color: red;
font-size: 40px;
font-weight: 400;
}

img { 
    width: 300px;
    border-radius: 10% 10% 10% 10%;
}

body {
    background-color: rgb(181, 195, 199);
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

a {
    color: rgb(9, 175, 34);
    }

a:hover{
    color: red;
    }    